*.o
*.so
.DS_Store
picoarch
/pkg
/profile
/system

/beetle-pce-fast
/bluemsx
/fbalpha2012
/fceumm
/fmsx
/gambatte
/gme
/gpsp
/mame2000
/mame2003_plus
/mgba
/pcsx_rearmed
/picodrive
/pokemini
/quicknes
/smsplus-gx
/snes9x2002
/snes9x2005
/snes9x2005_plus
/genesis-plus-gx
/nxengine